body{
font-family:'Fredoka', sans-serif;
background:#0b57c6;
margin:0;
padding:30px;
color:white;
text-align:center;
}

.title{
font-size:42px;
margin-bottom:20px;
}

.main{
display:flex;
justify-content:center;
gap:40px;
flex-wrap:wrap;
}

.controls{
background:white;
color:black;
padding:20px;
border-radius:12px;
width:280px;
box-shadow:0 10px 20px rgba(0,0,0,0.3);
}

textarea{
width:100%;
height:200px;
margin-top:10px;
margin-bottom:15px;

padding:12px;

font-size:16px;
font-family:'Fredoka', sans-serif;

border-radius:10px;
border:2px solid #ccc;

box-sizing:border-box;
resize:none;

outline:none;
}

.buttons button{
margin:6px;
padding:10px 16px;
border:none;
border-radius:8px;
cursor:pointer;
font-weight:600;
}

.generate{
background:#ff3b3b;
color:white;
}

.spin{
background:#ffd400;
}

.wheel-section{
position:relative;
}

canvas{
border-radius:50%;
border:8px solid white;
box-shadow:0 0 30px rgba(0,0,0,0.4);
}

.pointer{
position:absolute;
top:-18px;
left:50%;
transform:translateX(-50%);
width:0;
height:0;

border-left:20px solid transparent;
border-right:20px solid transparent;
border-top:35px solid #ffd400;

filter:drop-shadow(0 3px 4px rgba(0,0,0,0.4));
}

#result{
font-size:36px;
margin-top:20px;
}

.confetti-piece{
width:10px;
height:10px;
position:fixed;
top:-20px;
z-index:9999;
animation:fall 3s linear forwards;
}

@keyframes fall{
0%{transform:translateY(-50px)}
100%{transform:translateY(600px)}
}